
.navBar {
  min-width: 100%;
  display: flex;
  padding: 2% 5%;
  color: var(--headline);
  justify-content: space-between;
}

.leftNav {
  display: flex;
  align-items: center;
  height: 4vh;
  margin-left: 20px;
  background: linear-gradient(150deg, #29005c, #520379, #850895, #af0e9d, #c7178c, #de2074, #dd4264, #dd6262);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.rightNav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--headline);
  transition: 0.3s;
}

.accountMenu {
  position: fixed;
  border: 1px solid black;
  top: 12vh;
  right: 5vw;
  width: 20vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-radius: 3px;
}

.accountMenu div:nth-child(2) {
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid black;
  transition: .2s;
}

.accountMenu div:nth-child(2):hover {
  cursor: pointer;
  background: hsl(0deg 0% 85%);
  transition: .2s;
}

.logo {
  padding: 1.5px;
}

.logo:nth-child(2), .logo:nth-child(3) {
  font-size: 2.1rem;
  margin-bottom: 6px;
}

.logo:nth-child(1), .logo:nth-child(4) {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.footer {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 30px;
  min-width: 100%;
  display: flex;
  padding: 2% 5%;
  color: var(--headline);
  justify-content: space-between;
}

.const {
  color: var(--const);
}

.type {
  color: var(--type);
}

.signIn, .signOut {
  outline: none;
  border: 2px solid black;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  width: 150px;
  box-shadow: 3px 3px 0 0 rgb(0, 0, 0);
  transition: .5s ease-in-out;
  background-color: rgb(197, 255, 236);
}


.signOut {
  /* width: 110px;
  height: 35px; */
  background-color: #edb8e7;
}

.signIn:hover, .signOut:hover {
  cursor: pointer;
  transform: translateX(-3px) translateY(-3px);
  box-shadow: 8px 8px 0 0 rgb(0, 0, 0);
  transition: .5s ease-in-out;
}

@media screen and (max-width: 900px) {

  .leftNav {
    margin-left: -20px;
  }

  .navBar {
    margin-top: 20px;
    margin-bottom: 10px;
    /* flex-direction: column; */
  }

  .logo {
    height: 80px;
    width: 250px;
  }

  .signIn, .signOut {
    font-size: .8rem;
    width: 100px;
    margin-top: -8px;
  }

  .email {
    display: none;
  }
}