

.outerSection {
  height: 100%;
  width: 100%;
  padding: 20px 0 40px 0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 15px 0px 15px 0px;
  border: 2px solid black;
  box-shadow: 7px 7px 0 0 rgb(0, 0, 0);
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.problem {
  height: 75px;
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
}

.problem:last-child {
  border-bottom: 0;
}